#Opensearch node url
OPENSEARCH_NODE=
#Opensearch user name and password
OPENSEARCH_USERNAME=
OPENSEARCH_PASSWORD=
#The OpenSearch index for storing the elements
OPENSEARCH_INDEX=
#The OpenSearch index for storing the users
USER_INDEX=
#The folder storing the user uploaded contents, including thumbnails, html notebooks, user profile pictures)
UPLOAD_FOLDER=
#AWS keys and info for connecting to the bucket for data uploading
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
#SSl certificate directory
SSL_CERT=
SSL_KEY=
DOMAIN=
#Tag for distinguishing the development and the production server
SERV_TAG=development
#The port on which the backend server is running on
PORT=
#JWT tokens for generating the access token and the refresh token
JWT_ACCESS_TOKEN_SECRET=
JWT_REFRESH_TOKEN_SECRET=
#JWT cookie names
JWT_ACCESS_TOKEN_NAME=
JWT_REFRESH_TOKEN_NAME=
#The "Domain" field of the jwt related cookies
JWT_TARGET_DOMAIN=
#The frontend domain allowed to send requests with credentials to the backend
FRONTEND_DOMAIN=

# name for the access token cookie
JWT_ACCESS_TOKEN_NAME= 
# name for the refresh token cookie
JWT_REFRESH_TOKEN_NAME= 

######### NEO4J ##########
NEO4J_CONNECTION_STRING=
NEO4J_USER=
NEO4J_PASSWORD=

# Domains allowed to be use the backend service
ALLOWED_DOMAIN_LIST=

# MINIO Uploader setup (New)
MINIO_ENDPOINT=
MINIO_AWS_ACCESS_KEY_ID=
MINIO_AWS_SECRET_ACCESS_KEY=
MINIO_AWS_REGION=
MINIO_AWS_BUCKET_NAME=

#JWT API KEYS and VALUES for auth APIs
JWT_API_KEY_VALUE=
JWT_API_KEY=
AUTH_API_KEY_VALUE=
AUTH_API_KEY=